{% load static %}
<link rel="stylesheet" href="{% static 'web/footer.css' %}">
<footer>
    <div class="footer-left-section">
        <img src="{% static 'web/images/footer-logo.png' %}" alt="footer-app-logo">
        <div class="left-text-section">
            <a href="/policity/"><p>Privacy Policy</p></a>
            <a href="/terms_and_conditions/"><p>Terms and Conditions</p></a>
        </div>
    </div>

    <div class="footer-right-section">
        <div class="social-links-sections">
            <a href=""><img src="{% static 'web/images/gmail.png' %}" alt="gmail-logo"></a>
            <a href=""><img src="{% static 'web/images/instagram.png' %}" alt="gmail-logo"></a>
            <a href=""><img src="{% static 'web/images/linkedin.png' %}" alt="gmail-logo"></a>
        </div>
        <p>© All rights reserved Shaped by UARR</p>
    </div>
</footer>