{% load static %}
<link rel="stylesheet" href="{% static 'web/header.css' %}">
<header>
  <div class="left-section-header">
  <a href="/"><img src="{% static 'web/images/UAAR.png' %}" alt="web_logo" srcset=""></a>
  <div class="text-header-section">
    <a href="/user_review"><p>User Reviews</p></a>
    <a href=""><p>Bans</p></a>
    <a href="/faq"><p>Faq</p></a>
  </div>
  </div>

  <div class="right-section-header">
    <a href="https://doc-5c-0k-drive-data-export.googleusercontent.com/download/m3ii09ekm8koukvbfdf47qo8uvg5k9iu/h1oqb7ci8127d80vecss95uufo0n9dju/1703106000000/6301814a-a45d-4e35-94f6-661a226e8fa6/114707453998202856104/ADt3v-M9Dq9cdTRqGBQpQW8KgT7M6RnRTNO62DnqETN8GV79yrAiYMFvHUd0j-jklQ5ed4Ile78ua1ZwS5RB05S27qLGfRjoxMG523JIvpZY8lNh6DoHc0MZ9n9IrSNzt3XOef8HUZJehpY5GrLww1oe1ZB2p7RAKm1mQYNkTV1aDiK-JG-MgbeqKQhoSsMuNF0Da6F_2YLRwstNz5MOH7Oqbx86cvuXC7EH9A-jhKP4oSr0hB4oGqF87Ne9RYj703eYDPnlt0sPTIn9A8KTeD0rip67IgtkwlFa4uiP8fcrMNCzzbWgIqUb9ziR3g3ZjPbphL79oLYI?authuser=0&nonce=fln7ghq6m5nt2&user=114707453998202856104&hash=ps92ovuo1ff4f6d3bk6h7l47j88gt0ec">Download</a>
    <a href="{{user_page}}"><img src="{% static 'web/images/user.png' %}" alt="user_image" srcset=""></a>
  </div>
</header>