<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>UARR</title>
      <link rel="icon" type="image/x-icon" href="{% static 'web/images/logo.ico' %}">
</head>
<body>

<link rel="stylesheet" href="{% static 'web/home.css' %}">
{% include "web/header.html" %}
<div class="landing-page">
    <div class="left-conent">
        <h1>UAAR <br>Next Generation <br> Anticheat</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown  </p>
        <div class="button-content-group-landing">
            <a class="landing-page-standar-button" href="#extra_text">Read More</a>
            <a class="landing-page-secondary-button " href="/register">Sign Up</a>
        </div>
        <div class="user-review">
            <p>Excelente <span>&#9733 &#9733 &#9733 &#9733 &#9733</span></p>
            <p>Valoraciones de mas X usuarios</p>
        </div>
    </div>
    <div class="right-content">
        <img src="{% static 'web/images/app_preview.png' %}" alt="app-landing-page" srcset="">
    </div>
    </div>
    <section>
        <div id="extra_text"class="landing-page-extra-content">
        <p class="semi-title-pink">WHAT IS</p>
        <h1>UARR</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,.</p>
        </div>

        <div class="page-imporant-information">
            <h1 id="page-jump-more-info">Unete a mas de XXXXX jugadores que ya <br>estan disfrutando de sus juegos favoritos <br>sin tramposos</h1>
            <div class="imporante-values-flex">
                <div class="imporant-value-gruper">
                    <h1>150000</h1>
                    <p>Mas de 150000 jugadores unicos</p>
                </div>
                <div class="imporant-value-gruper">
                    <h1>150000</h1>
                    <p>Mas de 150000 jugadores unicos</p>
                </div>
                <div class="imporant-value-gruper">
                    <h1>150000</h1>
                    <p>Mas de 150000 jugadores unicos</p>
                </div>
            </div>
        </div>
        <div class="app-info-main-container">
            <div class="main-text-container">
                <h1>Tus juegos son importantes para nosotros</h1>
                <p>Descubre las ventajas de nuestro producto.</p>
            </div>
            <div class="main-container-apps-thinqs">
                <div class="app-thing-iteam">
                    <img src="{% static 'web/images/appthing1.png' %}" alt="">
                    <h2>Fast</h2>
                    <p>Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro.</p>
                </div>
                <div class="app-thing-iteam">
                    <img src="{% static 'web/images/appthing1.png' %}" alt="">
                    <h2>Fast</h2>
                    <p>Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro.</p>
                </div>
                <div class="app-thing-iteam">
                    <img src="{% static 'web/images/appthing1.png' %}" alt="">
                    <h2>Fast</h2>
                    <p>Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro.</p>
                </div>
                <div class="app-thing-iteam">
                    <img src="{% static 'web/images/appthing1.png' %}" alt="">
                    <h2>Fast</h2>
                    <p>Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro.</p>
                </div>
                <div class="app-thing-iteam">
                    <img src="{% static 'web/images/appthing1.png' %}" alt="">
                    <h2>Fast</h2>
                    <p>Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro.</p>
                </div>
                <div class="app-thing-iteam">
                    <img src="{% static 'web/images/appthing1.png' %}" alt="">
                    <h2>Fast</h2>
                    <p>Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro producto
                    Descubre las ventajas de nuestro.</p>
                </div>
            </div>
            <div class="more-app-things-main-container">
                <div class="left-side-app-explain-text">
                <h1>TENEMOS MÁS<br><span>Y eso no es todo..</span> </h1>
                <p>Descubre las ventajas de nuestro producto Descubre las ventajas</p>
                </div>
                <div class="right-side-app-things">
                    <div class="app-thing-secondary-blog">
                        <img src="{% static 'web/images/afirmative.png' %}" alt="" srcset="">
                        <div class="text-group">
                            <h2>Fast</h2>
                            <p>Descubre las ventajas de nuestro producto <br> Descubre las ventajas</p>
                        </div>
                    </div>

                <div class="app-thing-secondary-blog">
                        <img src="{% static 'web/images/afirmative.png' %}" alt="" srcset="">
                        <div class="text-group">
                            <h2>Fast</h2>
                            <p>Descubre las ventajas de nuestro producto <br> Descubre las ventajas</p>
                        </div>
                    </div>

                <div class="app-thing-secondary-blog">
                        <img src="{% static 'web/images/afirmative.png' %}" alt="" srcset="">
                        <div class="text-group">
                            <h2>Fast</h2>
                            <p>Descubre las ventajas de nuestro producto <br> Descubre las ventajas</p>
                        </div>
                    </div>

                                        <div class="app-thing-secondary-blog">
                        <img src="{% static 'web/images/afirmative.png' %}" alt="" srcset="">
                        <div class="text-group">
                            <h2>Fast</h2>
                            <p>Descubre las ventajas de nuestro producto <br> Descubre las ventajas</p>
                        </div>
                    </div>

                    <div class="app-thing-secondary-blog">
                        <img src="{% static 'web/images/afirmative.png' %}" alt="" srcset="">
                        <div class="text-group">
                            <h2>Fast</h2>
                            <p>Descubre las ventajas de nuestro producto <br> Descubre las ventajas</p>
                        </div>
                    </div>

                    <div class="app-thing-secondary-blog">
                        <img src="{% static 'web/images/afirmative.png' %}" alt="" srcset="">
                        <div class="text-group">
                            <h2>Fast</h2>
                            <p>Descubre las ventajas de nuestro producto <br> Descubre las ventajas</p>
                        </div>
                    </div>

                        <div class="app-thing-secondary-blog">
                        <img src="{% static 'web/images/afirmative.png' %}" alt="" srcset="">
                        <div class="text-group">
                            <h2>Fast</h2>
                            <p>Descubre las ventajas de nuestro producto <br> Descubre las ventajas</p>
                        </div>
                    </div>

                    <div class="app-thing-secondary-blog">
                        <img src="{% static 'web/images/afirmative.png' %}" alt="" srcset="">
                        <div class="text-group">
                            <h2>Fast</h2>
                            <p>Descubre las ventajas de nuestro producto <br> Descubre las ventajas</p>
                        </div>
                    </div>

                    <div class="app-thing-secondary-blog">
                        <img src="{% static 'web/images/afirmative.png' %}" alt="" srcset="">
                        <div class="text-group">
                            <h2>Fast</h2>
                            <p>Descubre las ventajas de nuestro producto <br> Descubre las ventajas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="step-by-step-main-container">
            <div class="main-title-container">
            <h1>HOW BANS <br><span>REGISTRO</span></h1>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <div class="content-articles-main-container">
                <div class="text-container-stats">
                    <p class="text-title-more-artices">PRIMER PASO</p>
                    <h1>REGISTRO</h1>
                    <p class="more-text-container-step-by-step">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has </p>
                </div>
                <img src="{% static 'web/images/ilustration1.png' %}" alt="">
                <img src="{% static 'web/images/left-side-arrow.png' %}" alt="">
                <div class="text-container-stats">
                    <p class="text-title-more-artices">SEGUNDO PASO</p>
                    <h1>JUEGA</h1>
                    <p class="more-text-container-step-by-step">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has </p>
                </div>

                <div class="text-container-stats">
                    <p class="text-title-more-artices">TERCER PASO</p>
                    <h1>RECOPILACIÓN</h1>
                    <p class="more-text-container-step-by-step">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has </p>
                </div>
                <img src="{% static 'web/images/ilustration2.png' %}" alt="">

                </div>

            <img class="under-middel-arrow-content"src="{% static 'web/images/under_arrow.png' %}" alt="">
            <div class="last-step-container">
                <img src="{% static 'web/images/ilustration3.png' %}" alt="">
                <div>
                    <p class="text-title-more-artices">TERCER PASO</p>
                    <h1>RECOPILACIÓN</h1>
                    <p class="more-text-container-step-by-step">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has </p>
                </div>
            </div>
        </div>
            </div>
    </section>
</div>

{% include "web/footer.html" %}

</body>
</html>